body {
    background-color: rgb(229, 197, 36);
    text-align: center;
    position: relative;
}

img {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    margin-bottom: 3rem;
}

nav a {
    padding: 0 1rem;
}